.navcontain{
    background-color: rgb(65, 95, 226);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
}
.navinner{
    display: flex;
    flex-direction: row;
    
}
.navinner img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.navinner p{
    margin: auto;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    color: white;
}

.navcontain button{
     margin: 10px;
}
.techersdiv{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
}
.techersdiv div{
    margin-bottom: 30px;
    height: 150px;
    width: 200px;
    
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.techersdiv div:hover{
    cursor: pointer;
}
.techersdiv div h1{
    text-align: center;
    padding-top: 10px;
}

.othercomponent{
    margin: 10px;
    padding: 10px;

    overflow: scroll;
    width: 80% ;
    background-color: aliceblue;

    min-height: 78vh;
    max-height: 78vh;

}
.othercomponent ::-webkit-scrollbar{
    display: none;
}